//- client
doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Express Full
    block head-scripts
    include partials/header-includes  

  body
    .navbar
        .container
          h1 Main Navigation

    block content

    block sidebar

    block foot-scripts

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/javascripts/main.js")
